.nuevoCliente {
    border: solid 4px royalblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    align-items: center;
    
}

#eleccionColor {
    border: purple 2px solid;
}

#parteSuperior {
    display: flex;
    border: solid red 4px;
}

#consolaJugador {
    border: solid darkblue 2px;
}

#preseleccion {
    height: 100px;
    width: 100px;
    border: grey 2px solid;
}

#imgRuleta {
    height: 20rem;
}

#saludo {
    border: solid greenyellow 3px;
}

#lanzar {
    
}