.nuevoCliente {
    border: solid 4px royalblue;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-between ;
    align-items: center;
    height: 4rem;
}

#eleccionColor {
    border: purple 2px solid;
}

#preseleccion {
    height: 100px;
    width: 100px;
    border: grey 2px solid;
}